.fish_container{
    z-index: -1;
    margin: 0;
    padding: 0;
}
#footer-wrap{
    color: black;
    position: absolute;
    text-align: center;
    padding: 20px 20px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#footer-wrap a{
    color: black;
}




